.Gameboard {
    background-color: blue;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.gamesquare {
    background-color: blue;
    width: 40px;
    height: 40px;
}

.highlight-legal {
    background-color: rgba(255, 255, 255, 0.4);
}

.highlight-illegal {
    background-color: rgba(255, 0, 0, 0.4);
}

.gamesquare-destroyer {
    background-color: coral;
}

.gamesquare-submarine {
    background-color: brown;
}

.gamesquare-cruiser {
    background-color: aqua;
}

.gamesquare-battleship {
    background-color: gray;
}

.gamesquare-carrier {
    background-color: greenyellow;
}